:root {
  /* colors */
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;

  /* fonts */
  --font-family-heading: "Figtree", sans-serif;
  --font-size-1: 24px;
  --line-height-1: 1.5;
  --letter-spacing-1: 0px;
  --font-weight-extra-bold: 800;

  /* space */
  --space-300: 24px;
  --space-150: 12px;
  --space-100: 8 px;
  --space-50: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-heading);
  line-height: var(--line-height-1);
  -webkit-font-smoothing: antialiased;
  background-color: var(--yellow);
  color: var(--gray-500);
}

ul,
li {
  list-style: none;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: var(--space-150);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  width: 100%;
  max-width: 384px;
  padding: var(--space-300);
  background-color: var(--white);
  border: 1px solid var(--gray-950);
  border-radius: 20px;
  box-shadow: 8px 8px 0px 0px #000000;
}

.blog-image {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.group-picture {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 200px;
  min-width: 280px;
  background-color: var(--yellow);

  img,
  svg {
    position: absolute;
    opacity: 1;
  }
}

.pic-1,
.pic-2 {
  right: 0;
}

.rec-1 {
  left: 32%;
  filter: drop-shadow(2px 4px 6px #0002);
}

.rec-2 {
  bottom: 0;
}

.rec-3 {
  left: 23%;
}

.rec-4 {
  left: 12%;
}

.rec-5 {
  right: 0;
}

.vec-4 {
  left: 53%;
}

.vec-5 {
  bottom: 0;
}

.ang {
  left: 18%;
  top: 7%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: var(--font-family-heading);
  font-size: 12px;
  color: var(--gray-950);

  .date-info {
    display: block;
    font-weight: 500;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-500);
  }

  button {
    align-self: flex-start;
    font-size: 12px;
    font-weight: var(--font-weight-extra-bold);
    border-radius: 4px;
    border: none;
    padding: var(--space-50) var(--space-150);
    background-color: var(--yellow);
  }
  @media (min-width: 992px) {
    button,
    .date-info {
      font-size: 14px;
    }
    p,
    p span {
      font-size: 16px;
    }
  }
}

.title {
  font-size: 20px;
  color: var(--gray-950);
}

.title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.author {
  display: flex;
  justify-items: center;
  gap: var(--space-150);

  img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
  span {
    display: grid;
    place-items: center;
    color: var(--gray-950);
    font-size: 14px;
    font-weight: 800;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 24px;
  }
}
